@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: blue;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: white;
}

.card h3 {
    text-align: center;
}

.card p {
    text-align: center;
}

.card button {
    padding: 1vh 1vw;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}

/* cart box */

.cart-container {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    width: 100%;

}

#cart-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: rgb(141, 192, 83);
    margin-top: 30px;
    border-radius: 20px;
}

.cart-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background-color: white;
    width: 300px;

}

.cart-card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.cart-card button {
    padding: 1vh 1vw;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .cart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #cart-list {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

}