* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #caf5ccbc; */
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 7px white;
}

button, #space {
  color: #5804ff;
  padding: 5px 15px;
  font-size: 30px;
  font-weight: 400;
  margin: 10px;
  border: none;
}

#add {
  background-color: rgb(78, 235, 78);
}
#substract {
  background-color: rgb(246, 50, 50);
}
#space {
  border: 1px solid rgb(109, 107, 107);
}
#rese {
  background-color: rgb(95, 196, 243);
}